body
{
	background: #0e0791 url(../img/crazybg.jpg);
	background-repeat: repeat-x;
	color: #fff;
}

#kb
{
	position: absolute;
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 196px;
	border-width: 0px;
	border-top: 1px solid gray;
}

#uitoggle
{
	display: block;
	width: auto;
	right: 0px;
	top: 0px;
	position: absolute;
}

.controlarea
{
	width: auto;
	height: auto;
	padding: 5px;
	background-color: rgba(20,90,130,0.8);
	display: inline-block;
	margin: 15px;
}

.controlarea .shadow
{
	padding: 10px;
}

.controlarea .title
{
	text-align: center;
	padding-bottom: 2px;
	margin-bottom: 2px;
	border-bottom: 1px solid rgba(0,0,0,.7);
}

/* border radius: 5px */
.controlarea, .controlarea .container
{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

div.pointer
{
	transition: background-color 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out;
}

/* Inset box shadow */
/*div.slider div.control, div.window, .controlarea, .controlarea .container
{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
}*/

div.slider, div.dial
{
	display: inline-block;
	background-color: rgba(20, 20, 20, 0.6);
	border: 1px outset gray;
}

/* box glow */
/*.slider .control, .window, .controlarea, .controlarea .container, input[type=checkbox]
{
	box-shadow: 0px 0px 10px rgba(255,255,255,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
	-o-box-shadow: 0px 0px 10px rgba(255,255,255,0.7), 0px 0px 10px rgba(0,0,0,0.7) inset;
}*/

div.slider
{
	border-radius: 5px;
	height: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.dial
{
	border-radius: 25px;
}

div.pointer
{
	background-color: rgba(50, 200, 50, 0.6);
	border: 1px outset gray;
}

div.slider.horizontal div.pointer
{
	width: 10px;
	height: 15px;
	margin-top: -6px;
}



div.slider.vertical div.pointer
{
	width: 15px;
	height: 10px;
	margin-left: -6px;
}

div.dial div.pointer
{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-top: -6px;
}

div.pointer:hover
{
	background-color: rgba(75, 225, 75, 0.8);
}
